.wrap {
  display: block;
  box-sizing: border-box;
  border: solid #545454 3px;
  border-radius: 20px;
  margin: 20px 500px;
  padding: 5px;
  text-align: center;
  color: #343434;
  background-color: #d2d2d2;
}

button {
  box-sizing: border-box;
  border: solid #ffffff 2px;
  border-radius: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #343434;
  padding: 5px;
}
