.wrap {
  display: grid;
  justify-content: space-between;
  grid-template-columns:repeat(5, 350px);
  margin: 10px;
}

img {

  height: 200px;
}

.card {
  display: block;
  box-sizing: border-box;
  border: solid #0015ff 3px;
  border-radius: 20px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  color: #0015ff;
  background-color: #d2d2d2;
}